@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--<iframe src="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=2090f9a5-0a5b-432a-a170-19e4b8525092&serviceInstanceID=4e3ffeb4-d874-4369-bea0-bcac83c04b58">-->@*  *@<!--</iframe>-->
